<div id="<%= dom_id inv_detail %>">
  <p>
    <strong>First name:</strong>
    <%= inv_detail.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= inv_detail.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= inv_detail.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= inv_detail.phone %>
  </p>

  <p>
    <strong>Tfn:</strong>
    <%= inv_detail.tfn %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= inv_detail.dob %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= inv_detail.balance %>
  </p>

  <!--p>
    <strong>User ID:</strong>
    <%= inv_detail.user_id %>
  </p-->

</div>
